<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    {% seo %}
    
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

    {% assign resources = page.resources %}
    {% if resources %}
        {% include {{ resources }} %}
    {% endif %}

</head>

<body>
    <header>
        <div id="site-title">
            {{ site.title }}
        </div>

        {% include navigation.html %}
    </header>
    
    <main>
        <h1>{{ page.title }}</h1>

        {{ content }}
    </main>
</body>

</html>
